AndrowsBox
Ld9VirtualBox
android
cache
eclipse
gitconfig
lesshst
p2
vscode
AppData
Application Data
Contacts
Cookies
Desktop
Documents
Downloads
Favorites
Links
Local Settings
Music
My Documents
NTUSER.DAT
NTUSER.DAT{f29b0a2b-de4b-11ef-9f4e-e2ea7f787c4e}.TM.blf
NTUSER.DAT{f29b0a2b-de4b-11ef-9f4e-e2ea7f787c4e}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{f29b0a2b-de4b-11ef-9f4e-e2ea7f787c4e}.TMContainer00000000000000000002.regtrans-ms
OneDrive
Pictures
PyCharmMiscProject
PycharmProjects
Recent
Searches
SendTo
Videos
WeChatProjects
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
source
\343\200\214\345\274\200\345\247\213\343\200\215\350\217\234\345\215\225